<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/Laitue.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>PARTENAIRE DE CONFIANCE</h1>
            <h3>Laissez-nous vous accompagner dans l'achat de vos produits vivriers sans vous déplacer.</h3>
            <br/>
            <a routerLink="/signin" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>TROUVER MES PRODUITS DE QUALITE</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">À propos de nous</h2>
                    <h5 class="description">Our App a été fondé dans le mois de Février 2021. Nous servons d'intermédiaires entre 
                        les agriculteurs et producteurs des produits vivriers  </h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">À L'ÉCOUTE DE VOTRE DEMANDE</h4>
                            <p>Car nous connaissons l'importance de l'investissement de nos clients dans leur achat,
                                nous faisons de chaque commande une priorité. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">LES MEILLEURS PRIX DU MARCHÉ</h4>
                            <p>Fort de notre historique et de notre réseau, nous saurons obtenir le meilleur prix sur le
                                marché pour les ingrédients de bonne qualité.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">PRODUITS A LA DEMANDE</h4>
                            <p>Votre commande est pressée? Nous nous occupons de tout le processus post-achat pour
                                vous donner les produits désirés en un rien de temps.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Ils nous recommandent</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Joselin Iglony</h4>
                                <h6 class="card-category">PATATE DOUCE, NOIX DE PALME</h6>
                            </div>
                            <p class="card-description text-center">
                                
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/kaci-baum-2.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Sophie Wespper</h4>
                                <h6 class="card-category">LAITUE, TOMATES.</h6>
                            </div>
                            <p class="card-description text-center">
                               
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/faces/erik-lucatero-2.jpg" alt="...">
                        </div>
                        <div class="card-block">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">FROMAGE, OIGNON, COTE DE BOEUF</h6>
                            </div>
                            <p class="card-description text-center">
                        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
